<html>
  <head>
      <style type="text/css">
            body {
                    background: black;
                            color: white;
                                  }
                                        div.container {
                                                max-width: 500px;
                                                        margin: 100px auto;
                                                                border: 20px solid white;
                                                                        padding: 10px;
                                                                                text-align: center;
                                                                                      }
                                                                                            h4 {
                                                                                                    text-transform: uppercase;
                                                                                                          }
                                                                                                              </style>
                                                                                                                </head>
                                                                                                                  <body>
                                                                                                                      <div class="container">
                                                                                                                            <h4>Cat Gif of the day</h4>
                                                                                                                                  <img src="{{url}}" />
                                                                                                                                        <p><small>Courtesy: <a href="http://www.buzzfeed.com/copyranter/the-best-cat-gif-post-in-the-history-of-cat-gifs">Buzzfeed</a></small></p>
                                                                                                                                            </div>
                                                                                                                                              </body>
                                                                                                                                              </html>
